
/* section.middle_two {
} */



.middle_two > * {
    transform: scale(.98);
    height: 500px;

}

.middle_two .text-overlay {
    background: #22222275;
    color: var(--primary-color);
}

.middle_two .btn {
    background: #22222275;
    border: 1px solid var(--primary-color);
    padding: .6rem 1rem;
    margin: .7rem 0;
    width: max-content;
}

.middle_two p{
    line-height: 1.4;
    font-size: 80%;
}

@media (max-width: 700px) {
    .middle_two {
        flex-direction: column;
    }

    .middle_two > * {
        width: 100%;
    }
}

@media (max-width: 400px) {

    .middle_two p {
        font-size: 75%;
    }
}